.places {
  max-width: 1280px;
  margin: 0;
  padding: 90px 148px 12px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
  min-width: 928px;
  padding: 92px 48px 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: 720px;
    padding: 88px 24px 15px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 320px;
    padding: 64px 0 0;
  }
}
