.cover {
    max-width: 1184px;
    text-align: center;
    margin: 0 auto;
    padding: 0 48px;
    background-color: #2A2C2F;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
      max-width: 1024px;
    }
  }

  @media screen and (max-width: 767px) {
    .cover {
      min-width: 320px;
      padding: 0;
    }
  }
